<%= button_to 'Find Top Rated Movies', '/movies', method: :get %>
<%= button_to 'Find Trending Movies', '/movies', method: :get, params: { trending: true } %>

<%= form_with url: '/movies', method: :get, local: true do |form| %>
  <%= form.text_field :search %>

  <%= form.submit 'Find Movies' %>
<% end %>

<% if @movies %>
  <table>
    <tr>
      <th>Movie Title</th>
      <th>Vote Average</th>
    </tr>

    <% @movies.each do |movie| %>
      <tr id='movie-<%= movie.id %>'>
        <td><%= link_to movie.title, movie_path(movie.id) %></td>
        <td><%= movie.vote_average %></td>
      </tr>
    <% end %>
  </table>
<% end %>
